<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springleaf.couponfury.distribution.dao.mapper.CouponTemplateMapper">

    <resultMap id="dataMap" type="com.springleaf.couponfury.distribution.dao.entity.CouponTemplateDO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="shop_number" property="shopNumber"/>
        <result column="source" property="source"/>
        <result column="target" property="target"/>
        <result column="goods" property="goods"/>
        <result column="type" property="type"/>
        <result column="valid_start_time" property="validStartTime"/>
        <result column="valid_end_time" property="validEndTime"/>
        <result column="stock" property="stock"/>
        <result column="receive_rule" property="receiveRule"/>
        <result column="consume_rule" property="consumeRule"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通过乐观机制原子扣减优惠券模板库存 -->
    <update id="decrementCouponTemplateStock">
        UPDATE t_coupon_template
        SET stock = stock - #{decrementStock}
        WHERE shop_number = #{shopNumber}
          AND id = #{couponTemplateId}
          AND stock >= #{decrementStock}
    </update>

    <select id="getCouponTemplateByShopNumberAndId" resultMap="dataMap">
        select id,
               name,
               shop_number,
               source,
               target,
               goods,
               type,
               valid_start_time,
               valid_end_time,
               stock,
               receive_rule,
               consume_rule,
               status,
               create_time,
               update_time,
               del_flag
        from t_coupon_template
        where shop_number = #{shopNumber}
          and id = #{couponTemplateId}
    </select>
</mapper>
