<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springleaf.couponfury.distribution.dao.mapper.UserCouponMapper">

    <resultMap id="dataMap" type="com.springleaf.couponfury.distribution.dao.entity.UserCouponDO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="coupon_template_id" property="couponTemplateId"/>
        <result column="receive_time" property="receiveTime"/>
        <result column="receive_count" property="receiveCount"/>
        <result column="valid_start_time" property="validStartTime"/>
        <result column="valid_end_time" property="validEndTime"/>
        <result column="use_time" property="useTime"/>
        <result column="source" property="source"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <insert id="saveUserCoupon">
        INSERT INTO t_user_coupon (user_id, coupon_template_id, receive_time, receive_count, valid_start_time,
                                   valid_end_time, use_time, source, status, create_time, update_time, del_flag)
        VALUES (#{userId}, #{couponTemplateId}, #{receiveTime}, #{receiveCount}, #{validStartTime}, #{validEndTime},
                #{useTime}, #{source}, #{status}, #{createTime}, #{updateTime}, #{delFlag})
    </insert>

    <insert id="saveUserCouponList" parameterType="java.util.List">
        INSERT INTO t_user_coupon (user_id, coupon_template_id, receive_time, receive_count, valid_start_time,
                                   valid_end_time, use_time, source, status, create_time, update_time, del_flag)
        VALUES
            <foreach collection="list" item="item" separator=",">
                (#{item.userId}, #{item.couponTemplateId}, #{item.receiveTime}, #{item.receiveCount},
                 #{item.validStartTime}, #{item.validEndTime}, #{item.useTime}, #{item.source}, #{item.status},
                 #{item.createTime}, #{item.updateTime}, #{item.delFlag})
            </foreach>
    </insert>

    <select id="getUserCouponByCouponTemplateIdAndUserId"
            resultType="com.springleaf.couponfury.distribution.dao.entity.UserCouponDO">
        SELECT * FROM t_user_coupon
        WHERE coupon_template_id = #{couponTemplateId}
        ANd user_id = #{userId}
    </select>


</mapper>
