<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springleaf.couponfury.engine.dao.mapper.CouponTemplateRemindMapper">

    <resultMap id="dataMap" type="com.springleaf.couponfury.engine.dao.entity.CouponTemplateRemindDO">
        <result column="user_id" property="userId"/>
        <result column="coupon_template_id" property="couponTemplateId"/>
        <result column="information" property="information"/>
        <result column="shop_number" property="shopNumber"/>
        <result column="start_time" property="startTime"/>
    </resultMap>

    <select id="getCouponRemindByUserIdAndCouponTemplateId"
            resultMap="dataMap">
        SELECT user_id, coupon_template_id, information, shop_number, start_time
        FROM t_coupon_template_remind
        WHERE user_id = #{userId}
          AND coupon_template_id = #{couponTemplateId}
    </select>

    <insert id="saveCouponTemplateRemind">
        INSERT INTO t_coupon_template_remind
            (user_id, coupon_template_id, information, shop_number, start_time)
        VALUES (#{userId}, #{couponTemplateId}, #{information}, #{shopNumber}, #{startTime})
    </insert>

    <update id="updateCouponTemplateRemindInformation">
        UPDATE t_coupon_template_remind
        SET information = #{information}
        WHERE user_id = #{userId}
        AND coupon_template_id = #{couponTemplateId}
    </update>

</mapper>